In [9]:
import pandas as pd

# **read_csv:**

In [10]:
# если вы выполняется код из среды Google Colab, нужно подключить свой гугл-диск
# from google.colab import drive  
# drive.mount('/content/drive')
df = pd.read_csv('../data/feed-views.log', skiprows=(2,3), skipfooter=2, names=['datetime', 'user'], sep='\t', index_col='datetime')
df

/var/folders/zz/zyxvpxvq6csfxvn_n00022q8000hnt/T/ipykernel_62892/3868424776.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('../data/feed-views.log', skiprows=(2,3), skipfooter=2, names=['datetime', 'user'], sep='\t', index_col='datetime')

                                 user
datetime
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

# **rename:**

In [11]:
df.index.names=['date_time']
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

# **to_csv:**

In [12]:
df.to_csv('../data/feed-views-semicolon.log', sep=';')
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

# **Tests:**

In [13]:
# df.count()

In [14]:
# df2=pd.read_csv('../data/feed-views-semicolon.log', sep=';')
# df2

In [15]:
# df2.head()